{% extends 'base.html' %}

{% block head %}
<style type="text/css">
	.log{
		margin-top: 5%;
		background-color: rgb(0,10,20,0.5);
	}
	label{
		color:white;
		
	}
	ul{
		color:red;
		list-style-type: none;
	}
</style>
{% endblock %}

{% block body %}


<!-- <form method="post">
  {% csrf_token %}

  <button type="submit">Save changes</button>
</form> -->

<div class="container log">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-4  ">
      <center><h1 style="color:cyan">Change Password</h1></center>
    <hr>
      <center class="msg">{{msg}}</center>
      <form  method="POST">

        {% csrf_token %}
        <center>  {{ form.as_p }}
         <button type="submit"  class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-primary">Clear</button><br><br></center>
      </form>

    </div>
    
  </div>
  
</div>


{% endblock %}